$primary-color: #111;
$secondary-color: #00aeef;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}


// css file styles

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

  $ff-primary: 'Alegreya Sans', sans-serif;
  $ff-secondary: 'Alegreya Sans', sans-serif;

  $fw-reg: 300;
  $fw-bold: 900;

  $clr-light: #fff;
  $clr-dark: #303030;
  $clr-accent: #00aeef;

  $fs-h1: 3rem;
  $fs-h2: 2.25rem;
  $fs-h3: 1.25rem;
  $fs-body: 1rem;

  $bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);


@media (min-width: 800px) {
  :root {
    $fs-h1: 4.5rem;
    $fs-h2: 3.75rem;
    $fs-h3: 1.5rem;
    $fs-body: 1.125rem;
  }
}

/* General styles */

/* enable this to add smooth scrolling */
/* html {
    scroll-behavior: smooth;
} */

body {
  background:$clr-light;
  color: $clr-dark;
  margin: 0;
  font-family:$ff-primary;
  font-size: $fs-body;
  line-height: 1.6;
}

ul {
  list-style: none;
}

section {
  padding: 5em 2em;
}

#home {
  padding: 0em 2em 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: $fw-bold;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: $clr-accent;
  color: $clr-dark;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: $fw-bold;
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size:$fs-h1 
}

h2 {
  font-size:$fs-h2 
}
h3 {
  font-size:$fs-h3 
} 

.section__title {
  margin-top: 1rem;
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: $fw-reg;
}
.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: $fs-h3;
}

.section__subtitle--intro,
.section__subtitle--about {
  background: $clr-accent;
  padding: 0.25em 1em;
  font-family: $ff-secondary;
  margin-bottom: 1em;
}

.section__subtitle--work {
  color: $clr-accent;
  font-weight: $fw-bold;
    margin-bottom: 2em;}

/* header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: relative;
}

.logo {
  max-width: 75px;
  display: inline-block;
}

.nav {
  position: fixed;
  background: $clr-dark;
  color: $clr-light;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 0.9s cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: $fw-bold;
  font-size: $fs-h2;
  text-decoration: none;
}

.nav__link:hover {
  color: $clr-accent;}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
   background: $clr-accent;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/*  Intro section  */

.intro {
  position: relative;
  padding-bottom: 2rem;
}
.modal-links {
  padding: 0rem 0 5rem 0;
}

.intro__img {
  box-shadow: $bs;
}

.ection__subt--intro {  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      'img title'
      'img subtitle';
    grid-template-columns: min-content max-content;
    padding-bottom: 0;
  }

  .modal-links {
    margin: 0 auto;
    max-width: 622px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
  }

  .section__title--intro {
    /* margin-top: 1rem; */
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/*  My services section  */

.my-services {
  background-color: $clr-dark;
  background-image: url('../assets/services-bg.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),
    url('../assets/services-bg.jpg');
  background-size: cover;

  color: $clr-light;
  text-align: center;
}

.section__title--services {
  color: $clr-accent;
  position: relative;
}

.section__title--services::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: $clr-light;
 city: 0.2;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.service-icons {
  padding: 0;
  display: flex;
  justify-content: center;
}

.service-icons li p {
  margin: 0;
}

.service-icons li {
  margin-right: 1rem;
}
.service-icons li:last-of-type {
  margin: 0;
}

@media (min-width: 800px) {
  .logo {
    max-width: 6rem;
  }
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .service {
    margin-bottom: none;
  }

  .service + .service {
    margin-left: 2em;
  }
}

/* about me */
.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.styled__link {
  text-decoration: none;
  color: $clr-accent;
  font-weight:$fw-bold;
}
.styled__link:hover {
  text-decoration: underline;
}

.styled__link:hover {
  opacity: 0.7;
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas:
      'title img  '
      'subtitle  img'
      'text img  ';

    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
  }
}

/* Individual portfolio item styles */

.modal-links i {
  margin-right: 0.4rem;
}

.portfolio-item__subheader {
  font-size: $fs-h3;
  font-weight: bold;
  margin-bottom: -15px;
  margin-top: 60px;
  text-transform: capitalize;
}

.credentials {
  color: $clr-accent;}

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* footer */

.footer {
  background: #111;
  color: $clr-accent;
  text-align: center;
  padding: 2.5em 0;
  font-size:$fs-h3;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: $fw-bold;  
  text-decoration: none;
  }

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  font-size: $fs-h3;
padding: 0.5em
}
