// ************
// Intro
// ************

.intro {
  position: relative;
  padding-bottom: 2rem;
}
.modal-links {
  padding: 0rem 0 5rem 0;
}

.intro__img {
  box-shadow: $bs;
}

.section__subtitle--intro {
  display: inline-block;
}
