.portfolio {
  text-align: center;
  background: $clr-dark;
  color: $clr-light;
  padding: 5em 2em;
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
}

.portfolio-item {
  background:$clr-accent;

  position: relative;
  overflow: hidden;
  width: 100%;

  .portfolio-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  figcaption {
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 1em;
    background: $clr-accent;
    opacity: 0.9;
    color: $clr-light;
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: top ease-in-out 250ms;
  }

  &:hover figcaption,
  &:focus figcaption {
    top: 0;
  }
}

.portfolio-title {
  color: $clr-light;
  font-size: 2.5rem;
  margin-bottom: auto;
}

// .portfolio-desc {
//   // display: none;
// }

.portfolio-link {
  color: white;
  font-weight: $fw-bold;
  font-size: 1.1rem;
  text-decoration: none;
  border-bottom: 3px solid $clr-light;
  align-self: flex-start;

  &::after {
    content: url(../assets/arrow-white.svg);
    display: inline-block;
    height: 0.8em;
    width: 0.8em;
    margin-left: 0.5em;
  }
}

.portfolio-modal {
  position: fixed;
  z-index: 90;
  top: 2em;
  bottom: 2em;
  left: 2em;
  right: 2em;
  background: $clr-light;
  color: $clr-dark;
  box-shadow: 0 0 0 3em rgba(black, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;

  display: none;

  &.is-open {
    display: block;
  }
}

.modal-close {
  background: white;
  position: fixed;
  left: 1em;
  top: 1em;
  border: 0;
  width: 2em;
  height: 2em;
  padding: 4px 0 0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(black, 0.5);
}

.portfolio-header {
  text-align: left;
  padding: 5em 0;
  margin-bottom: 2em;
  background-size: cover;
  background-position: center;
}

.portfolio-title-box {
  background: rgba($clr-accent, 0.75);
  padding: 3em 0 3em 3em;
  color: black;
  width: 70%;

  .portfolio-title {
    font-size: 3.5rem;
    display: inline-block;

    &::after {
      content: '';
      display: block;
      height: 1px;
      margin: 0.5em 0;
      background: white;
      width: 100%;
    }
  }
}

.portfolio-subtitle {
  font-size: 1rem;
}

.portfolio-content {
  text-align: left;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 2em;
}

.portfolio-full-width {
  width: 100vw;
  max-width: initial;
  margin: 2em calc(50% - 50vw);
  height: 20vh;
  object-fit: cover;
}

@keyframes modalIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
