@import 'config';
@import 'menu';

@import 'portfolio';

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

@import 'mobile';
